{% extends "base_with_bootstrap.html" %}
{% load bootstrap5 %}

{% block bootstrap5_title %} TAB {% endblock %}

{% block hlavni_nadpis %} Detail zákazníka{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <h3 class="name">{{customer.customer_first_name}} {{customer.customer_last_name}}</h3>
            <h3> Email: {{customer.customer_email}} </h3>
            <h3> Telefon: {{customer.customer_phone}} </h3>
            <h3> Rezervace: {{customer.trips.all}} </h3>
    </div>
</div>


{% endblock %}
