{% extends "base_with_bootstrap.html" %}
{% load bootstrap5 %}

{% block bootstrap5_title %} TAB {% endblock %}


{% block hlavni_nadpis %} Seznam zákazníků{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-2"><b>Jméno</b></div>
        <div class="col-2"><b>Email</b></div>
        <div class="col-1"><b>Telefonní číslo</b></div>
        <div class="col-2"><b>Rezervace</b></div>
        <div class="col-2"><b>Čas rezervace</b></div>
        <div class="col-2 offset-1"><b>Akce</b></div>
    </div>

    {% for customer in object_list%}
    <div class="row">
        <div class="col-2">{{customer.full_name}}</div>
        <div class="col-2">{{customer.customer_email}}</div>
        <div class="col-1">{{customer.customer_phone}}</div>
        <div class="col-2">{{customer.customer_trip.trip_name}}</div>
        <div class="col-2">{{ customer.created|date:"d.m.Y H:i"}}</div>

         <div class="col-3">
            <a href="{% url 'webapp:customer_update' customer.pk %}" class="btn btn-primary"> Úprava </a>
             <a href="{% url 'webapp:customer_delete' customer.pk %}" class=" btn btn-danger"> Odstranit </a>
             <a href="{% url 'webapp:customer_detail' customer.pk %}" class=" btn btn-info"> Podrobnosti </a>

         </div>
         
    </div>
    {% endfor %}


    {% include "snippets/pagination_v3.html" %}

{% endblock %}
