{% extends "base_with_bootstrap.html" %}
{% load bootstrap5 %}
{% load static %}
{% block bootstrap5_title %} 
Galerie
{% endblock %}
{% block bootstrap5_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'webapp/css/gallery.css' %}">

{% endblock %}

{% block hlavni_nadpis %} NADPIS{% endblock %}

{% block content %}
<div class="image-gallery">
    {% for image in images %}
        <div class="photo">
            <img src="{{image}}">    
        </div>
    {% endfor %}    
    </div>
        
{% endblock %}
