{% extends "base_with_bootstrap.html" %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_title %} TAB {% endblock %}

{% block bootstrap5_extra_head %}
    <link rel="stylesheet" href="{% static 'webapp/css/tripDetail.css' %}">

{% endblock %}

{% block hlavni_nadpis %}{% endblock %}

{% block image_head %}
    <div class="title-image">
        <img src="{{ trip.image.url }}">
        <h1 class="title-text">{{ trip.trip_name }}</h1>
    </div>
{% endblock %}




{% block content %} 


<div class="container">
    <div class="col">
        <div class="col"><h6>{{ trip.trip_short_description }}</h6></div>&nbsp;&nbsp;

<!-- documentation https://getbootstrap.com/docs/4.0/components/carousel/ -->

    <div id="tripCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for image in trip_images %}
          {% if image.image %}
            <button type="button" data-bs-target="#tripCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
              {% if forloop.first %}class="active" aria-current="true"{% endif %}
              aria-label="Slide {{ forloop.counter }}">
            </button>
          {% endif %}
        {% endfor %}
      </div>

      <div class="carousel-inner">
        {% for image in trip_images %}
          {% if image.image %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image.image }}" class="d-block w-100" alt="{{ image.caption }}">
              {% if image.caption %}
                <div class="carousel-caption d-none d-md-block">
                  <p>{{ image.caption }}</p>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#tripCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Předchozí</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#tripCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Další</span>
      </button>
    </div>
        <div class="col"><p>{{ trip.trip_description }}</p></div>&nbsp;
        <div class="col"><p>{{ trip.start_time }}</p></div>&nbsp;
        <div class="col"><p>{{ trip.end_time }}</p></div>&nbsp;
        <div class="col"><p><strong>Náklady do {{ trip.price }} Kč</strong></p></div>&nbsp;

    </div>
</div>


<a href="{% url 'webapp:customer_create' trip.pk %}" class="btn btn-primary"> Nezávazná registrace </a>




{% endblock %}


