{% extends "base_with_bootstrap.html" %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_title %} Úprava cesty {% endblock %}

{% block hlavni_nadpis %} Úprava cesty {% endblock %}

{% block bootstrap5_extra_head %}
    <script src="{% static 'webapp/js/tripCreate_alt.js' %}"></script>
    <link rel="stylesheet" href="{% static 'webapp/css/tripCreate.css' %}">
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}



        <button type="button" id="toggle-gallery" class="btn btn-secondary mb-3">
            Přidej obrázky
        </button>

        <div id="gallery-wrapper" style="display: none;">
            <div id="gallery" class="d-flex flex-wrap">
                {% for image in images_in_media %}
                    <div class="gallery-image m-2 border-secondary" data-filename="{{ image }}">
                        <img src="{{ image }}" alt="{{ image }}" width="100">
                    </div>
                {% empty %}
                    <p>Žádné obrázky v databázi</p>
                {% endfor %}
            </div>
            <input type="hidden" name="selected_images" id="selected-images">
        </div>

        <button type="button" id="toggle-gallery" class="btn btn-secondary mb-3">
            Aktuální výběr
        </button>

        <div id="gallery-wrapper" style="display: none;">
            <div id="gallery" class="d-flex flex-wrap">
                {% for image in attached %}
                    <div class="gallery-image m-2 border-secondary" data-filename="{{ image }}">
                        <img src="{{ image }}" alt="{{ image }}" width="100">
                    </div>
                {% empty %}
                    <p>Žádné obrázky v databázi</p>
                {% endfor %}
            </div>
            <input type="hidden" name="selected_images" id="selected-images">
        </div>


    </form>



{% endblock %}
